page-movie-details {
  ion-list .ion-item div.item-inner ion-label p {
    color: #fafafa;
  }
  iframe {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    // width: 100%;
  }
  .wrapper .fab {
    position: absolute;
    bottom: 60px;
    right: 30px;
  }
}
